@import '../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;

    @media(min-width: 998px) {
        flex-direction: row;
    }

    .body-container {
        min-height: 100%;
        width: 100vw;

        @media(min-width: 998px) {
            width: 100%;
        }
    }
}