@import './variables.scss';

.Home {
    height: 100%;
    background-image: url("./images/placeholder_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(35%);
    display: flex;
    justify-content: center;
    align-items: center;

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 2rem;

        @media(min-width: 998px) {
            padding-left: 0rem;
            position: relative;
            bottom: 4rem;
            right: 8rem;
        }

        span.name {
            font-size: 3.7rem;
            color: $text-color-hover;
        }

        .dynamo-text {
            display: flex;
            color: $text-color-hover;
            font-size: 1.4rem;
            padding-left: .5rem;

            .dynamo-prefix {
                padding-right: .35rem;
            }
            
            .dynamo-content {

                .Typewriter {
                    
                border-bottom: 3px solid yellow;
                }
            }
        }
    }
}