@import './variables.scss';

.Home {
    height: 100vh;
    filter: grayscale(35%);
    display: flex;
    justify-content: center;
    align-items: center;

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 1;

        @media(min-width: 576px) {
            padding-bottom: 4rem;
        }

        span.name {
            font-size: 3.7rem;
            color: $text-color-hover;
            text-align: center;
        }

        .dynamo-text {
            display: flex;
            color: $text-color-hover;
            font-size: 1.4rem;
            padding-left: .5rem;

            .dynamo-prefix {
                padding-right: .35rem;
            }
            
            .dynamo-content {

                .Typewriter {
                    border-bottom: 3px solid yellow;
                }
            }
        }
    }
}